@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('./assets/fonts/NHaasGroteskDSPro-55Rg.woff');
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  appearance: none;
  border: none;
  background: none;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  letter-spacing: inherit;
}
html {
  font-size: 10px;
  --body: 2.8rem;
  --small: 1.8rem;
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --leading: 1.2;
}
body {
  font-size: var(--body);
  font-family: 'Neue Haas Grotesk', sans-serif;
  letter-spacing: 0.02em;
  line-height: var(--leading);
  background: #eee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
a:hover, button:hover {
  opacity: 0.6;
}
button {
  cursor: pointer;
}
sup {
  font-size: 60%;
}
p {
  margin-bottom: 1em;
}
h2 {
  font-size: var(--small);
  margin-bottom: 0.6rem;
}
form {
  position: relative;
  input[type='text'], textarea, button {
    outline: none;
  }
  input[type='text'], textarea {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0.6rem 0;
  }
  input[type='text'] {
    &.has-ok-button {
      padding-right: 1em;
    }
  }
  textarea {
    resize: none;
  }
  button {
    position: absolute;
    right: 0;
    padding: 0.6rem 0;
    padding-left: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 1.2em);
    &:hover {
      opacity: 1;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
pre {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 1.6rem;
}

small {
  font-size: var(--small);
}

.disabled-feature {
  text-decoration: line-through;
  pointer-events: none;
}
